@font-face {
   font-family: Pixel Emulator;
   src: url(font/PixelEmulator-xq08.ttf);
}
.center {
	text-align: center;
}
body {
	background-color: black;
	color: white;
    font-family: Pixel Emulator;
}
a {
	color: #0094FF;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: 400ms ease;
}
a:hover {
	color: red;
	text-decoration: none;
	transition: 400ms ease;
	border-bottom: 1px solid red;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}